* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--dark-purple);
  color: var(--white);
}

a,
button,
div {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

a {
  font-weight: var(--font-semibold);
}

button {
  border: none;
  width: 100%;
  height: auto;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 1.5rem;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
