button {
  border: none;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button.primary {
  font-size: 1rem;
  background-color: var(--button-primary-background);
  border-radius: var(--button-border-radius);
  font-weight: var(--button-font-weight);
  padding: 0.75rem 1.5rem;
  transition: opacity 0.15s ease-in-out;
}

button.primary:hover {
  opacity: 0.5;
}
