.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20vh;
  background-color: var(--dark-purple);
  z-index: 2;
  transition: opacity 0.15s ease-out;
}

.loader-container.show {
  opacity: 1;
}

.loader-container.hide {
  opacity: 0;
}

.loader {
  width: 7.5rem;
  aspect-ratio: 1;
  --_c: no-repeat linear-gradient(orange 0 0) 50%;
  background: var(--_c) / 100% 50%, var(--_c) / 50% 100%;
  border-radius: 50%;
  animation: l29 2s infinite linear;
  margin: auto;
}

@keyframes l29 {
  100% {
    transform: rotate(1turn);
  }
}
