select {
  border-radius: var(--select-border-radius);
  height: 100%;
  padding: 0.75rem 1.5rem 0.75rem 0.75rem;
  color: var(--select-font-colour);
  text-transform: capitalize;
  min-width: 9.375rem;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--select-font-weight);
  transition: opacity 0.15s ease-in-out;
  appearance: none;
  background-color: var(--select-background);
  background-image: url("../assets/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  border: none;
}

select:hover {
  cursor: pointer;
  opacity: 0.5;
}

select:active {
  background-image: url("../assets/chevron-up.svg");
}

option {
  text-transform: capitalize;
  font-family: inherit;
  font-size: inherit;
  font-weight: var(--select-font-weight);
}
